<!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">
  
          <header class="section-header">
            <h3>Sobre nosotros</h3>
            <p>Argentina Programa 4.0 es un programa para acceder a capacitaciones gratuitas en: programación, testing y habilidades digitales. 
  
            </p>
          </header>
  
          <div class="row about-container">
  
            <div class="col-lg-6 content order-lg-1 order-2">
              <p>
                Se trata de un programa nacional y federal que tiene como objetivo capacitar a personas en lenguajes y conocimientos sobre programación, testing y habilidades digitales para potenciar la empleabilidad en el sector del software y la tecnología.
                </p>
                <p>
                  El programa es impulsado por el Ministerio de Economía de la Nación con apoyo de un consejo consultivo especializado y tiene como principales objetivos:
                </p>
  
              <div class="icon-box wow fadeInUp">
                <div class="icon"><i class="fa fa-university"></i></div>
                <h4 class="title"><a href="">Capacitación</a></h4>
                <p class="description">Capacitar a más de 70 mil personas en el transcurso de un año para que adquieran conocimientos y herramientas relacionadas a la industria del software y promover su inserción laboral en el sector.</p>
              </div>
  
              <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                <div class="icon"><i class="fa fa-users"></i></div>
                <h4 class="title"><a href="">Articulación</a></h4>
                <p class="description">Articular las necesidades del mercado con la formación de más personas en tecnología.</p>
              </div>
  
              <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="icon"><i class="fa fa-level-up"></i></div>
                <h4 class="title"><a href="">Valor Agregado</a></h4>
                <p class="description">Generar valor agregado a los sectores industriales tradicionales y no tradicionales.</p>
              </div>
  
            </div>
  
            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
              <img src="assets/img/programacion.png" class="img-us" alt="">
            </div>
          </div>
  
          
  
          
  
        </div>
      </section><!-- #about -->