 <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
        <div class="container">
  
          <header class="section-header">
            <h3>Trayectos formativos disponibles por temática</h3>
            <p>Las capacitaciones consisten en el desarrollo de trayectos formativos en la temática elegida. Los trayectos formativos han sido diseñados en base a un perfil laboral y están subdivididos en cursos.</p>
          </header>
  
          <div class="row">
  
            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-laptop" style="color: #f1a51fff;"></i></div>
                <h4 class="title"><a href="">Programación</a></h4>
                <p class="description">Desarrollo de software en diferentes lenguajes de programación</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-wrench" style="color: #C5DA2D;"></i></div>
                <h4 class="title"><a href="">Testing</a></h4>
                <p class="description">Proceso de análisis, verificación y validación de calidad de un programa</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-at" style="color: #34C0DF;"></i></div>
                <h4 class="title"><a href="">Habilidades digitales</a></h4>
                <p class="description">Fundamentos de las tecnologías digitales para potenciar el uso de dispositivos, software e internet</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-chatbubbles" style="color:#E71964;"></i></div>
                <h4 class="title"><a href="">Ingles</a></h4>
                <p class="description">Curso asincrónico de Inglés orientado a programación.</p>
              </div>
            </div>
  
            
  
          </div>
  
        </div>
      </section><!-- #services -->